html {
    height: 100%;
  }
  
  body {
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .heart {
    width: 50px;
    height: 50px;
    background: red;
    transform: rotate(45deg);
    position: absolute;
    left: 200px;
    top: 200px;
  }
  
  .heart .left {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -25px;
    top: 0px;
  }
  
  .heart .right {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 0px;
    top: -25px;
  }
  
  h1, h2 {
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  .panel {
    z-index: 1;
    padding: 30px;
    background: rgba(216, 121, 121, 0.331);
    box-shadow: 0 16px 64px 0 rgb(255, 165, 180);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 20px;
  }

.cool-btn {
  align-items: center;
  background-color: #fee3e9;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cool-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(5px, 5px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.cool-btn:hover:after {
  transform: translate(0, 0);
}

.cool-btn:active {
  background-color: #f0c5c9;
  outline: 0;
}

.cool-btn:hover {
  outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
}

.container h2 {
    margin-top: 10px;
}

.container .buttons {
    margin-top: 10px;
    display: flex;
}

.container .buttons button {
    padding: 10px 20px;
    margin: 0 10px;    
    width: 150px;
}